# Created by .ignore support plugin (hsz.mobi)
.gitignore
LeagueStuff.iml
input
out
output
.idea/libraries/
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
lib/
src/Buch.java
src/BuchManager.java
